<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>

  <span class="example-spacer"></span>

  <nav>
    <a routerLink="/" mat-raised-button class="my-navigation" routerLinkActive="active">
      Produktai
    </a>
    <a routerLink="/contacts" class="my-navigation" mat-raised-button routerLinkActive="active">
      Kontaktai
    </a>
  </nav>

  <a href="https://bit.lt" target="_blank" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>facebook</mat-icon>
  </a>
</mat-toolbar>
