
<div class="content" role="main">
  <h2>Angular Material Components</h2>

  <!--  Kaip aprasomos angular nuorodos: https://angular.io/guide/router#defining-a-basic-route -->
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Produktai</a></li>
    <li><a routerLink="/contacts" routerLinkActive="active">Kontaktai</a></li>
  </ul>


  <router-outlet></router-outlet>
  <!--  Visu komponentu sarasas: https://material.angular.io/components/categories  -->


  <!-- <mat-spinner></mat-spinner> -->


